*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding-top: 60px;
  font-family: "PT sans", "Nanum Gothic", "NanumGothic", "Nanum Gothic Regular", "NanumGothicRegular", sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.428571429;
  letter-spacing: -0.6px;
}
a:link {
  text-decoration: none;
  color: #047acc;
}
a:hover {
  text-decoration: underline;
  color: #047acc;
}
.align-center {
  margin: 0 auto;
  float: none;
}
.no-float {
  float: none !important;
}
.header {
  position: relative;
  padding: 60px 15px;
  overflow: hidden;
}
.navbar-fixed-top {
  background-color: white;
  border: 0;
}
.ss-navbar-border {
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #E5E5E5;
}
.footer-bar {
  background-color: #343434;
  border: 0;
}
.body-bg-color {
  background-color: #F2F2F2;
}
.ss-content-body {
  padding: 50px 0 60px;
}
.padding-bottom {
  padding-bottom: 70px;
}
.lg-font {
  font-size: 30px;
}
.ss-header-font {
  display: block;
  font-size: 30px;
}
.ss-sidebar {
  top: 70px;
  margin-left: -15px;
  margin-right: -15px;
  background-color: white;
}
.ss-sidebar ul {
  margin: 0;
  border: 0;
}
.ss-sidebar ul li {
  border-top: 1px solid #E5E5E5;
}
.ss-sidebar ul li:first-child {
  border: 0;
}
.ss-sidebar ul li a {
  color: #333;
  padding: 15px;
}
.ss-sidebar ul li a:hover {
  background-color: #FAFAFA;
}
.ss-disappear {
  display: none;
}
.ss-hidden {
  visibility: hidden;
}
.ss-hashtag {
  position: absolute;
  margin-top: -60px;
}
.ss-hashtag:not(:first-child) {
  margin-top: -10px;
}
.ss-team-image {
  height: 230px;
  background-color: #CCC;
}
.ss-team-contact {
  background-color: white;
}
.ss-location {
  height: 490px;
  background-size: 100%;
  background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=&zoom=16&size=640x490&markers=color:black%7Clabel:S%7C37.52442,127.029864&sensor=false&scale=2');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.ss-pos-abs {
  position: absolute;
}
.ss-pos-rel {
  position: relative;
}
.ss-sub-nav {
  width: 180px;
  left: 60px;
  margin-left: -90px;
  border-top: 1px solid #E5E5E5;
}
.ss-sub-nav li {
  border-top: 1px solid #4D4D4D;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  background-color: rgba(51, 51, 51, 0.98);
}
.ss-sub-nav li:first-child {
  border-top: 0;
}
.ss-sub-nav a {
  color: white;
  font-size: 12px;
  padding: 10px 0 !important;
  text-align: center;
}
.ss-sub-nav a:hover,
.ss-sub-nav a:focus {
  background-color: #2B2B2B !important;
}
.ss-nav-hover {
  position: relative;
  z-index: 999;
}
.ss-nav-hover .ss-sub-nav {
  background-color: #333;
  display: none;
  list-style: none;
  padding-left: 0;
}
.ss-nav-hover .ss-sub-nav a {
  display: block;
}
.ss-nav-hover:hover .ss-sub-nav {
  display: block;
}
.ss-nav-hover > a {
  width: 120px !important;
  padding: 20px 0 !important;
  text-align: center;
  color: #4D4D4D;
}
.ss-nav-hover > a:hover {
  color: #404040;
  font-weight: bold;
}
.ss-text-deco {
  text-decoration: underline;
}
.ss-send-email {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  display: block;
  color: white !important;
  padding: 15px 0;
  background-color: #00A688;
  border-radius: 5px;
}
.ss-answer {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 3px solid #CCCCCC;
}
.ss-mobile-subnav-group {
  width: 100%;
  margin-bottom: -1px;
  background-color: #262626;
}
.ss-mobile-subnav-group .ss-mobile-subnav {
  position: static;
  margin-top: 1px;
  background-color: #333333;
  background-color: rgba(51, 51, 51, 0.98);
}
.ss-mobile-subnav-group .ss-mobile-subnav li {
  border-top: 1px solid #4D4D4D;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  text-align: center;
}
.ss-mobile-subnav-group .ss-mobile-subnav li:first-child {
  border: 0;
}
.ss-mobile-subnav-group .ss-mobile-subnav li a {
  color: white;
  font-size: 13px;
  padding: 14px 0;
  text-align: center;
}
.ss-mobile-subnav-group .ss-mobile-subnav li a:hover {
  background-color: #303030;
}
.ss-mobile-nav-header {
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5;
}
.ss-blur-background {
  background-image: url('../img/imgAll.jpg');
  background-position: 50%;
}
.ss-market-link-white {
  width: 320px;
  clear: both;
  margin: 30px auto 0;
}
.ss-market-link-black {
  max-width: 355px;
}
.ss-market-link-black a {
  display: block;
  width: 48.5%;
}
.ss-market-icon-white {
  width: 150px;
  height: 50px;
}
.ss-sns-link-group {
  margin: 0;
}
.ss-sns-icon {
  width: 60px;
}
.ss-logo {
  width: 160px;
}
.ss-copyright {
  max-width: 420px;
}
.ss-copyright-mobile {
  width: 228px;
}
.ss-copyright-bottom {
  color: white;
  margin: 0;
  padding: 20px 0;
}
.app-image {
  max-width: 360px;
  max-height: 375px;
  width: 100%;
}
.ss-index-header {
  font-size: 24px;
}
.ss-word-wrap span {
  white-space: nowrap;
}
.ss-font-xl,
.ss-title {
  font-size: 30px;
}
.ss-font-lg,
.ss-header {
  font-size: 24px;
}
.ss-font-md,
.ss-emphasis,
.ss-press-link a,
.ss-press-link span {
  font-size: 18px;
}
.ss-font-sm {
  font-size: 16px;
}
.ss-font-xs {
  font-size: 12px;
}
.ss-font-bold {
  font-weight: bold;
}
.ss-font-black,
.ss-header,
.ss-emphasis,
.ss-press-link a,
.ss-press-link span {
  color: black;
}
.ss-font-white {
  color: white;
}
.ss-font-gray,
.ss-note {
  color: #999999;
}
.ss-clear {
  clear: both;
}
.ss-block {
  display: block;
}
.ss-width100 {
  width: 100%;
}
.ss-height100 {
  height: 100%;
}
.ss-no-list-style {
  padding-left: 0;
}
.ss-no-list-style li {
  list-style: none;
}
.ss-no-list-style p {
  margin: 0;
}
.ss-history-list li {
  margin-bottom: 5px;
}
.ss-history-date {
  width: 70px;
  float: left;
}
.ss-history-date.ss-empty-date {
  height: 1px;
}
.ss-history-body {
  margin-bottom: 10px;
  overflow: hidden;
}
.ss-indent {
  overflow: hidden;
}
.ss-press-link {
  margin-bottom: 50px;
}
.ss-press-link a {
  color: #333;
}
.ss-press-link span {
  color: #333;
}
.ss-press-link p {
  margin-bottom: 0;
}
.ss-team-thumbnail {
  margin-top: 30px;
}
.ss-member-image {
  width: 70px;
  height: 70px;
  margin-top: 12px;
  margin-right: 16px;
}
.ss-member-description {
  margin-top: -3px;
}
.ss-balloon {
  position: relative;
  height: 50px;
  overflow: hidden;
  background-color: white;
}
.ss-balloon table {
  position: relative;
  width: 100%;
  height: 100%;
}
.ss-balloon table td {
  text-align: center;
  padding: 0 10px 0 20px;
}
.ss-balloon .ss-balloon-head,
.ss-balloon .ss-balloon-tail {
  position: absolute;
  height: 50px;
}
.ss-balloon .ss-balloon-head {
  right: 0;
}
.ss-balloon .ss-balloon-tail {
  left: 0;
}
.ss-balloon .ss-balloon-body {
  font-size: 12px;
}
.ss-balloon .ss-balloon-body:before {
  content: '"';
}
.ss-balloon .ss-balloon-body:after {
  content: '"';
}
.ss-press-kit-img {
  height: 220px;
}
.fontsize12 {
  font-size: 36px;
}
.padding-top12 {
  padding-top: 60px;
}
.padding-bottom12 {
  padding-bottom: 60px;
}
.padding-left12 {
  padding-left: 60px;
}
.padding-right12 {
  padding-right: 60px;
}
.margin-top12 {
  margin-top: 60px;
}
.margin-bottom12 {
  margin-bottom: 60px;
}
.margin-left12 {
  margin-left: 60px;
}
.margin-right12 {
  margin-right: 60px;
}
.fontsize11 {
  font-size: 33px;
}
.padding-top11 {
  padding-top: 55px;
}
.padding-bottom11 {
  padding-bottom: 55px;
}
.padding-left11 {
  padding-left: 55px;
}
.padding-right11 {
  padding-right: 55px;
}
.margin-top11 {
  margin-top: 55px;
}
.margin-bottom11 {
  margin-bottom: 55px;
}
.margin-left11 {
  margin-left: 55px;
}
.margin-right11 {
  margin-right: 55px;
}
.fontsize10 {
  font-size: 30px;
}
.padding-top10 {
  padding-top: 50px;
}
.padding-bottom10 {
  padding-bottom: 50px;
}
.padding-left10 {
  padding-left: 50px;
}
.padding-right10 {
  padding-right: 50px;
}
.margin-top10 {
  margin-top: 50px;
}
.margin-bottom10 {
  margin-bottom: 50px;
}
.margin-left10 {
  margin-left: 50px;
}
.margin-right10 {
  margin-right: 50px;
}
.fontsize9 {
  font-size: 27px;
}
.padding-top9 {
  padding-top: 45px;
}
.padding-bottom9 {
  padding-bottom: 45px;
}
.padding-left9 {
  padding-left: 45px;
}
.padding-right9 {
  padding-right: 45px;
}
.margin-top9 {
  margin-top: 45px;
}
.margin-bottom9 {
  margin-bottom: 45px;
}
.margin-left9 {
  margin-left: 45px;
}
.margin-right9 {
  margin-right: 45px;
}
.fontsize8 {
  font-size: 24px;
}
.padding-top8 {
  padding-top: 40px;
}
.padding-bottom8 {
  padding-bottom: 40px;
}
.padding-left8 {
  padding-left: 40px;
}
.padding-right8 {
  padding-right: 40px;
}
.margin-top8 {
  margin-top: 40px;
}
.margin-bottom8 {
  margin-bottom: 40px;
}
.margin-left8 {
  margin-left: 40px;
}
.margin-right8 {
  margin-right: 40px;
}
.fontsize7 {
  font-size: 21px;
}
.padding-top7 {
  padding-top: 35px;
}
.padding-bottom7 {
  padding-bottom: 35px;
}
.padding-left7 {
  padding-left: 35px;
}
.padding-right7 {
  padding-right: 35px;
}
.margin-top7 {
  margin-top: 35px;
}
.margin-bottom7 {
  margin-bottom: 35px;
}
.margin-left7 {
  margin-left: 35px;
}
.margin-right7 {
  margin-right: 35px;
}
.fontsize6 {
  font-size: 18px;
}
.padding-top6 {
  padding-top: 30px;
}
.padding-bottom6 {
  padding-bottom: 30px;
}
.padding-left6 {
  padding-left: 30px;
}
.padding-right6 {
  padding-right: 30px;
}
.margin-top6 {
  margin-top: 30px;
}
.margin-bottom6 {
  margin-bottom: 30px;
}
.margin-left6 {
  margin-left: 30px;
}
.margin-right6 {
  margin-right: 30px;
}
.fontsize5 {
  font-size: 15px;
}
.padding-top5 {
  padding-top: 25px;
}
.padding-bottom5 {
  padding-bottom: 25px;
}
.padding-left5 {
  padding-left: 25px;
}
.padding-right5 {
  padding-right: 25px;
}
.margin-top5 {
  margin-top: 25px;
}
.margin-bottom5 {
  margin-bottom: 25px;
}
.margin-left5 {
  margin-left: 25px;
}
.margin-right5 {
  margin-right: 25px;
}
.fontsize4 {
  font-size: 12px;
}
.padding-top4 {
  padding-top: 20px;
}
.padding-bottom4 {
  padding-bottom: 20px;
}
.padding-left4 {
  padding-left: 20px;
}
.padding-right4 {
  padding-right: 20px;
}
.margin-top4 {
  margin-top: 20px;
}
.margin-bottom4 {
  margin-bottom: 20px;
}
.margin-left4 {
  margin-left: 20px;
}
.margin-right4 {
  margin-right: 20px;
}
.fontsize3 {
  font-size: 9px;
}
.padding-top3 {
  padding-top: 15px;
}
.padding-bottom3 {
  padding-bottom: 15px;
}
.padding-left3 {
  padding-left: 15px;
}
.padding-right3 {
  padding-right: 15px;
}
.margin-top3 {
  margin-top: 15px;
}
.margin-bottom3 {
  margin-bottom: 15px;
}
.margin-left3 {
  margin-left: 15px;
}
.margin-right3 {
  margin-right: 15px;
}
.fontsize2 {
  font-size: 6px;
}
.padding-top2 {
  padding-top: 10px;
}
.padding-bottom2 {
  padding-bottom: 10px;
}
.padding-left2 {
  padding-left: 10px;
}
.padding-right2 {
  padding-right: 10px;
}
.margin-top2 {
  margin-top: 10px;
}
.margin-bottom2 {
  margin-bottom: 10px;
}
.margin-left2 {
  margin-left: 10px;
}
.margin-right2 {
  margin-right: 10px;
}
.fontsize1 {
  font-size: 3px;
}
.padding-top1 {
  padding-top: 5px;
}
.padding-bottom1 {
  padding-bottom: 5px;
}
.padding-left1 {
  padding-left: 5px;
}
.padding-right1 {
  padding-right: 5px;
}
.margin-top1 {
  margin-top: 5px;
}
.margin-bottom1 {
  margin-bottom: 5px;
}
.margin-left1 {
  margin-left: 5px;
}
.margin-right1 {
  margin-right: 5px;
}
.fontsize0 {
  font-size: 0px;
}
.padding-top0 {
  padding-top: 0px;
}
.padding-bottom0 {
  padding-bottom: 0px;
}
.padding-left0 {
  padding-left: 0px;
}
.padding-right0 {
  padding-right: 0px;
}
.margin-top0 {
  margin-top: 0px;
}
.margin-bottom0 {
  margin-bottom: 0px;
}
.margin-left0 {
  margin-left: 0px;
}
.margin-right0 {
  margin-right: 0px;
}
@media (max-width: 499px) {
  .ss-copyright-bottom {
    padding-top: 0;
    float: none !important;
  }
  .ss-location {
    height: 640px;
    background-size: 150%;
    background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=&zoom=17&size=640x6400&markers=color:black%7Clabel:S%7C37.52442,127.029864&sensor=false&scale=2');
  }
  .ss-sns-link-group {
    float: none !important;
    margin: 0 auto;
  }
}
@media (min-width: 500px) {
  .ss-location {
    height: 640px;
    background-size: auto 100%;
    background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=&zoom=17&size=640x6400&markers=color:black%7Clabel:S%7C37.52442,127.029864&sensor=false&scale=2');
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  .ss-copyright-bottom {
    padding: 20px  10px;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 0;
  }
  .header {
    padding: 39px 0;
  }
  .ss-mobile-left {
    float: left;
  }
  .ss-mobile-right {
    float: right;
  }
  .ss-market-link-white {
    width: 150px;
    margin: 0 auto;
  }
  .ss-market-link-white a {
    display: block;
    margin: 20px 0 0;
    float: none !important;
  }
  .ss-collapse {
    position: absolute;
    visibility: hidden;
  }
  .navbar-fixed-top {
    position: static;
    margin: 0;
  }
  .ss-mobile-navbar {
    display: block;
  }
  .ss-mobile-navbar .ss-mobile-nav {
    width: 94%;
  }
  .ss-mobile-navbar .ss-mobile-nav > button {
    background-color: transparent;
    border: 0;
    display: block;
    width: 25%;
    padding: 10px 0;
    color: black;
    font-weight: bold;
  }
  .ss-history-list li {
    margin: 0;
  }
  .ss-history-list p {
    margin-bottom: 0;
  }
  .ss-history-date {
    margin-bottom: 5px;
    float: none;
  }
  .ss-history-date.ss-empty-date {
    margin: 0;
  }
  .ss-history-body {
    padding-left: 20px;
    margin: 0;
  }
  .ss-history-body:before {
    content: "-";
    position: absolute;
    margin-left: -11px;
  }
}
@media (min-width: 768px) {
  .ss-location {
    height: 390px;
    background-size: 100%;
    background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=&zoom=16&size=640x6400&markers=color:black%7Clabel:S%7C37.52442,127.029864&sensor=false&scale=2');
  }
  .ss-mobile-left {
    float: left;
  }
  .ss-mobile-right {
    float: right;
  }
}
@media (min-width: 992px) {
  .ss-right {
    float: right;
  }
  .ss-left {
    float: left;
  }
  .ss-affix {
    position: fixed;
    width: 313px;
  }
  .ss-desktop-left {
    float: left;
  }
  .ss-desktop-right {
    float: right;
  }
}
@media (min-width: 1200px) {
  .ss-affix {
    width: 380px;
  }
}
@media (max-width: 991px) {
  .ss-content-body {
    padding: 22px 0 45px;
  }
}
