nav,
header {
  display: block;
}
img {
  border: 0 !important;
}
.ss-hidden-ie {
  display: none !important;
}
.ss-affix {
  position: static !important;
}
.ss-nav-hover {
  float: left;
}
.ss-sub-nav li {
  background-color: #333333;
}
.ss-sns-link-group {
  width: 260px;
}
.ss-logo-wrapper {
  width: 160px;
}
.ss-market-link-white a {
  width: 150px;
}
.ss-location {
  background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=&zoom=15&size=640x640&markers=color:black%7Clabel:S%7C37.52442,127.029864&sensor=false&scale=2') !important;
}
