*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
}

.align-center {
  margin: 0 auto;
  float: none;
}
.no-float { float: none !important; }

.header {
  position: relative;
  padding: 60px 15px;
  font-size: 30px;
  text-align: left;
  margin-bottom: 40px;
}

.navbar-fixed-top {
  background-color: white;
  border: 0;
}

.ss-navbar-border {
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #E5E5E5;
}

.footer-bar {
  background-color: #343434;
  border: 0;
}

.body-bg-color {
  background-color: #F2F2F2;
}

.padding-bottom {
  padding-bottom: 70px;
}

.lg-font { font-size: 30px; }

.ss-header {
}

.ss-header-font {
  display: block;
  font-size: 30px;
}

.ss-sidebar {
  top: 70px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0 15px;
  background-color: white;

  .navbar {
    margin: 0;
    border: 0;

    li {
      &:first-child { border: 0; }
      border-top: 1px solid #E5E5E5;
    }
  }

}

.ss-disappear { display: none; }
.ss-hidden { visibility: hidden; }

.ss-hashtag {
  position: absolute;
  margin-top: -50px;
}

.ss-team-image {
  height: 230px;
  background-color: #CCC;
}
.ss-team-contact  {
  background-color: white;
}

.ss-location {
  height: 490px;
  background-size: 100%;
  background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=&zoom=16&size=640x490&markers=color:black%7Clabel:S%7C37.52442,127.029864&sensor=false&scale=2');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.ss-pos-abs { position: absolute; }
.ss-pos-rel { position: relative; }

.ss-sub-nav {
  left: 50%;
  background-color: rgba(0, 0, 0, 0.8);

  a {
    white-space: nowrap;
    color: white;

    &:hover,
    &:focus { background-color: #262626 !important; }
  }
}

.ss-nav-hover {
  .nav { display: none; }

  &:hover,
  &:focus {
    .nav {
      display: block;
    }
  }
}

.loopingClass (@index) when (@index > 0) {
  @tmp: @index * 5px;
  @font: @index * 3px;

  .fontsize@{index} { font-size: @font; }

  .padding-top@{index} { padding-top: @tmp; }
  .padding-bottom@{index} { padding-bottom: @tmp; }
  .padding-left@{index} { padding-left: @tmp; }
  .padding-right@{index} { padding-right: @tmp; }

  .margin-top@{index} { margin-top: @tmp; }
  .margin-bottom@{index} { margin-bottom: @tmp; }
  .margin-left@{index} { margin-left: @tmp; }
  .margin-right@{index} { margin-right: @tmp; }

  .loopingClass(@index - 1);
}

@iterations: 12;
.loopingClass (@iterations);

@media (max-width: 499px) {
  .ss-location{
    height: 640px;
    background-size: 150%;
    background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=&zoom=17&size=640x6400&markers=color:black%7Clabel:S%7C37.52442,127.029864&sensor=false&scale=2');
  }
}

@media (min-width: 500px) {
  .ss-location{
    height: 640px;
    background-size: auto 100%;
    background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=&zoom=17&size=640x6400&markers=color:black%7Clabel:S%7C37.52442,127.029864&sensor=false&scale=2');
  }
}

@media (min-width: 768px) {
  .ss-location{
    height: 390px;
    background-size: 100%;
    background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=&zoom=16&size=640x6400&markers=color:black%7Clabel:S%7C37.52442,127.029864&sensor=false&scale=2');
  }
}

@media (min-width: 992px) {
  .ss-right { float: right; }
  .ss-left { float: left; }
  .ss-affix {
    position: fixed;
    width: 313px;
  }
}

@media (min-width: 1200px) {
  .ss-affix { width: 380px; }
}
