<div class="footer-bar" role="banner">
  <div class="navbar-left">
    <span>Copyright Styleshare. All Rights Reserved.</span>
  </div>
  <div class="container">
    <nav class="" role="navigation">
      <ul class="nav navbar-nav pull-right">
        <li class="pull-left">
          <a href="#">Facebook</a>
        </li>
        <li class="pull-left">
          <a href="#">Twitter</a>
        </li>
        <li class="pull-left">
          <a href="#">blog</a>
        </li>
        <li class="pull-left">
          <a href="#">StyleShare</a>
        </li>
      </ul>
  </div>
</div>
