<div class="footer-bar" role="banner">
  <div class="container">
    <div class="row text-center">
      <div class="ss-sns-link-group pull-right clearfix">
          <a href="https://www.facebook.com/StyleShareApp" target="_blank">
            <img class="ss-sns-icon" src="/img/footerFacebook.jpg"/>
          </a>
          <a href="https://twitter.com/StyleShare_twt" target="_blank">
            <img class="ss-sns-icon" src="/img/footerTwitter.jpg"/>
          </a>
          <a href="http://blog.stylesha.re/" target="_blank">
            <img class="ss-sns-icon" src="/img/footerBlog.jpg"/>
          </a>
          <a href="https://stylesha.re" target="_blank">
            <img class="ss-sns-icon" src="/img/footerWeb.jpg"/>
          </a>
      </div>
      <p class="ss-copyright-bottom pull-left">Copyright Styleshare. All Rights Reserved.</p>
      <p class="ss-copyright-bottom pull-left margin-left3">
      <a href="{{ page.path | replace: '/index.html', '/' | replace: 'en', '' }}">
        한국어로 보기</a>
      </p>
    </div>
  </div>
</div>
