<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="description" content="About StyleShare page">
<meta name="author" content="StyleShare Inc.">

<title>
  {% if page.title %}
    {{ page.title }} &middot; StyleShare
  {% else %}
    About StyleShare
  {% endif %}
</title>

<link href="//fonts.googleapis.com/css?family=PT+Sans:400italic,400,700italic,700" rel="stylesheet" type="text/css">

<!-- Bootstrap core CSS -->
<!--[if lt IE 9]>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/styles_IE.css">
<![endif]-->
<!--[if gte IE 9]><!-->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
<!--><![endif]-->

<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
{% if site.env == 'prod' %}
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
{% else %}
  <link rel="stylesheet/less" type="text/css" href="/less/styles.less">
{% endif %}

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" href="/ico/icon.png">
<link rel="shortcut icon" href="/ico/favicon.ico">
