<div class="navbar navbar-fixed-top" role="banner">
  <div class="container nav-bg-top">
    <div class="row">
      <div class="ss-collapse ss-navbar-border clearfix" role="navigation">
        <div class="ss-logo-wrapper pull-left margin-top2">
          <a href="/en"><img src="/img/logo.jpg" class="ss-logo"/></a>
        </div>

        <ul class="nav navbar-nav pull-right">
          <li class="ss-nav-hover">
            <a href="/en/about">About</a>
            <ul class="ss-pos-abs ss-sub-nav">
              <li>
                <a href="/en/about">What is StyleShare?</a>
              </li>
              <li>
                <a href="/en/about/vision">Our Vision & Mission</a>
              </li>
              <li>
                <a href="/en/about/team">Our Team & Culture</a>
              </li>
              <li>
                <a href="/en/about/contact">Contact</a>
              </li>
            </ul>
          </li>

          <li class="ss-nav-hover">
            <a href="/en/collabo">Partnerships</a>
            <ul class="ss-pos-abs ss-sub-nav">
              <li>
                <a href="/en/collabo">Ads/Promotions</a>
              </li>
              <li>
                <a href="/en/collabo/sale">Sell with StyleShare</a>
              </li>
            </ul>
          </li>

          <li class="ss-nav-hover">
            <a href="/en/press">Press</a>
            <ul class="ss-pos-abs ss-sub-nav">
              <li>
                <a href="/en/press">StyleShare In Press</a>
              </li>
              <li>
              <a href="/en/press/presskit">Presskit</a>
              </li>
            </ul>
          </li>

          <li class="ss-nav-hover">
            <a href="/en/help">Support</a>
            <ul class="ss-pos-abs ss-sub-nav">
              <li>
                <a href="/en/help">FAQ</a>
              </li>
              <li>
                <a href="/en/help/feedback">Send Feedback</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="ss-mobile-navbar ss-navbar-border ss-disappear ss-hidden-ie" role="navigation">
        <div class="ss-mobile-nav-header">
          <a href="/en"><img src="/img/logo.jpg" class="ss-logo"/></a>
        </div>
        <div class="ss-mobile-nav align-center clearfix">
          <button href="/en/about" class="text-center pull-left"
                  data-target-id="#about">About</button>
          <button href="/en/collabo" class="text-center pull-left"
                  data-target-id="#collabo">Partnerships</button>
          <button href="/en/press" class="text-center pull-left"
                  data-target-id="#press">Press</button>
          <button href="/en/help" class="text-center pull-left"
                  data-target-id="#help">Support</button>
        </div>

        <div class="ss-mobile-subnav-group">
          <ul id="about" class="nav ss-mobile-subnav ss-disappear">
            <li>
              <a href="/en/about">What is StyleShare?</a>
            </li>
            <li>
              <a href="/en/about/vision">Our Vision & Mission</a>
            </li>
            <li>
              <a href="/en/about/team">Our Team & Culture</a>
            </li>
            <li>
              <a href="/en/about/contact">Contact</a>
            </li>
          </ul>

          <ul id="collabo" class="nav ss-mobile-subnav ss-disappear">
            <li>
              <a href="/en/collabo">Ads/Promotions</a>
            </li>
            <li>
              <a href="/en/collabo/sale">Sell with StyleShare</a>
            </li>
          </ul>

          <ul id="press" class="nav ss-mobile-subnav ss-disappear">
            <li>
              <a href="/en/press">StyleShare In Press</a>
            </li>
            <li>
              <a href="/en/press/presskit">Presskit</a>
            </li>
          </ul>

          <ul id="help" class="nav ss-mobile-subnav ss-disappear">
            <li>
              <a href="/en/help">FAQ</a>
            </li>
            <li>
              <a href="/en/help/feedback">Send Feedback</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
