<header class="navbar navbar-fixed-top" role="banner">
  <div class="container nav-bg-top">
    <div class="row">
      <div class="navbar-header">
        <a href="./" class="navbar-brand">About Icon</a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse ss-navbar-border" role="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">회사소개</a>
          </li>
          <li>
            <a href="#">제휴안내</a>
          </li>
          <li>
            <a href="#">프레스</a>
          </li>
          <li>
            <a href="#">고객센터</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
