<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

    {% include nav.html%}

    <div>
      <div class="text-center">
        <p class="ss-title padding-top7 padding-bottom8 margin-bottom0">
          {{ page.headTitle }}
        </p>
      </div>
    </div>

    <div class="body-bg-color padding-top10 padding-bottom12">
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    {% include javascripts.html %}

  </body>
</html>
